body {
    font-family: 'Lato', sans-serif;
    color:#747704; 
    font-weight:300;
}

.text-muted {
	color:#BCBBBB;
}

.bg-color-blue{
	background-color: #99aaff
	
}

.text-thin{
	font-weight:100;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	margin-top: 20px;
}